@charset "utf-8";

@font-face {
	font-family: 'SpoqaHansL';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/SpoqaHanSansLight.eot');
	src: url('../fonts/SpoqaHanSansLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SpoqaHanSansLight.woff2') format('woff2'),
		 url('../fonts/SpoqaHanSansLight.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHansR';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/SpoqaHanSansRegular.eot');
	src: url('../fonts/SpoqaHanSansRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'),
		 url('../fonts/SpoqaHanSansRegular.woff') format('woff');
}
@font-face {
	font-family: 'SpoqaHansB';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/SpoqaHanSansBold.eot');
	src: url('../fonts/SpoqaHanSansBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SpoqaHanSansBold.woff2') format('woff2'),
		 url('../fonts/SpoqaHanSansBold.woff') format('woff');
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
	margin:0;
	padding:0;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
canvas, details,  
summary,
time, mark, audio, video {
	margin:0;
	padding:0;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{font-size:inherit;}
body {
	line-height:1;
	font-family: 'SpoqaHansR',sans-serif;
	font-size:14px;
	color:#333;
	-webkit-text-size-adjust: 100%;
	vertical-align: middle;
	letter-spacing:-0.03em;
}
ul li{
	list-style:none;
	padding:0;
}
img {
	border: none;
	vertical-align: middle;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a{
	color:inherit;
	margin:0;
	padding:0;
	text-decoration: none;
	vertical-align: middle;
	display:inline-block;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, select,textarea {
	vertical-align:middle;
	font-size:initial;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background:transparent;
	border:none;
}
em{font-style:normal}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
b,
strong {
	font-weight: bolder;
}
abbr[title], dfn[title] {
	cursor:help;
	border-bottom: none;
	text-decoration: underline;
}
button,
[type="button"],
[type="reset"],
[type="submit"] ,
[type="tel"] {
	-webkit-appearance: button;
	cursor: pointer;
	padding: 0;
	font-size:14px;
	background: transparent;
}
button,
[type="button"]{border:none;}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
